{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les Tortues Ninja</h1>

    <form method="get">
        <select name="size">
            <option value="">Tout</option>
            {% for item in filters %}
                <option value="{{ item }}" {{ item == size ? 'selected' }}>Taille {{ item }}</option>
            {% endfor %}
        </select>
        <button>Filtrer</button>
    </form>

    {{ dump() }}

    {% if app.request.get('size') %}
    <p>Vous avez sélectionné la taille {{ app.request.get('size') }}</p>
    {% endif %}

    <ul>
    {% for turtle in turtles %}
        <li>
            <a href="{{ path('app_ninja_turtle_show', { color: turtle.color }) }}">
                {{ turtle.name }}
            </a>

            <span style="color: {{ turtle.color }}">
                {% for i in 1..turtle.size -%}
                    =
                {%- endfor %}
            </span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
