{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 text-center">
            <h1>{{ product.name | upper | lower }}</h1>
            <p>{{ product.price | number_format(2, ',', ' ') }} €</p>
            <p>{{ product.price | format_currency('EUR', locale='fr') }}</p>
        </div>
        <div class="col-md-6">
            <p>{{ product.description }}</p>
            <p style="font-size: 10px">{{ country_names() | join(', ') }}</p>
        </div>
    </div>

    <div class="text-center">
        <a href="{{ path('app_order', { slug: product.slug }) }}" class="btn btn-info">
            Commander le produit
        </a>
    </div>
{% endblock %}
